<mat-card>
  <form (submit)="signUp(signUpForm)" #signUpForm="ngForm">
      <mat-form-field>
          <input type="text"
          name="name"
          ngModel
          matInput
          placeholder="Name" 
          required
          #nameInput="ngModel">  
          <mat-error *ngIf="nameInput.invalid">Please Enter a valid Name</mat-error>
</mat-form-field>  
      <mat-form-field>
                  <input type="email"
                  name="email"
                  ngModel
                  matInput
                  placeholder="Email address" 
                  required
                  #emailInput="ngModel">  
                    <mat-error *ngIf="emailInput.invalid">Please Enter a valid Email</mat-error>
      </mat-form-field>  
      <mat-form-field>
          <input matInput type="password" name="password" required #passwordInput="ngModel" ngModel placeholder="Password">
              <mat-error *ngIf="passwordInput.invalid">Please enter a valid Password</mat-error>
      </mat-form-field> 
      <mat-form-field>
        <input matInput type="confirmpassword" name="confirmpassword" required #passwordInput="ngModel" ngModel placeholder="Confirm Password">
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid Password</mat-error>
    </mat-form-field> 
      <button mat-raised-button color="accent" type="submit">Signup</button>
  </form>
</mat-card>
