<form [formGroup] = "signupForm" (ngSubmit)="onSubmit()">
  <div class="modal"> 
  <div class="card">
    <div class="title">Sign up</div>
    <div class="input-group">
      <input type="text" formControlName="email" name="email" required placeholder="email"/>
      <span hidden="!(email.dirty && email.invalid)">Not a valid credentials</span>
    </div>
    <div class="input-group">
      <input type="text" formControlName="password" name="password" required placeholder="password"/>
    </div>
     <div class="input-group">
      <input type="text" placeholder="password confirm" formControlName="confirmPassword" name="confirmPassword" required/>
    </div>
      <button mat-raised-button class="submit" style="background-color: #1fd086;">Submit</button>
  </div>
</div>
</form>
